<!DOCTYPE html>
<html lang="en">

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.0/socket.io.js"></script>
<script src="Control/main.js" type="module"></script>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Fh Game</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='Stylesheet.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/games?styles=17672" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div id="player" class="player"></div> <!--class necessary for ObjectAnimation-->
        <div id="player2" class="player"></div> <!--class necessary for ObjectAnimation-->
        <div id="welcome-popup">
            <div>
                Welcome to SpaceJump
            </div>
        </div>
        <div id="menu">
            <div id="menu-head">Spacejump</div>
            <br>
            <div id="message"></div>
            <button type="button" id="singleplayer"> Singleplayer</button>
            <button type="button" id="multiplayer">Multiplayer</button>
            <button type="button" id="play" style="display: none">Play</button>
            <select name="level" id="level" style="display: none"></select>
            <button type="button" id="createGame" style="display: none">Create a new Game</button>
            <button type="button" id="joinGame" style="display: none">Join a Game</button>
            <input type="text" id="joinCode" placeholder="Room Code" style="display: none">
            <button type="button" id="score">Scoreboard</button>
            <button type="button" id="backToMenu" style="display: none">Back to menu</button>
        </div>
    </div>
</body>
</html>
